<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
                    <div style="display:table">
                        <form action = "http://localhost:5000/fileupload" method = "POST"
                        enctype = "multipart/form-data">
                        <input type = "file" name = "file" />
                         <input type = "submit"/>
                        </form>
                    <br><br>

                    <ul>
                        {% for file in files %}
                        <li>
                            <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}">
                                {{ (request.path + '/' if request.path != '/' else '') + file }}
                            </a>
                        </li>
                        <img src="{{url_for('static',filename = file)}}" alt="image">

                        {% endfor %}
                    </ul>

                    </div>

</body>
</html>