
<!DOCTYPE html>
<html>

    <form action="/add" method="post">

        <p>
        <fieldset>
            <legend>이미지 내 동물의 크기를 고르시오.</legend>
            <input type="radio" name="options" id="option1" value="대형"> 대형 </input<br>
            <input type="radio" name="options" id="option2" value="중형"> 중형 </input<br>
            <input type="radio" name="options" id="option3" value="소형"> 소형 </input<br>
        </fieldset>
    </p>

        <p>
        <fieldset>
            <legend>이미지 내 동물의 색상을 고르시오.</legend>
            <input type="radio" name="colors" id="color1" value="black"> 검정 </input<br>
            <input type="radio" name="colors" id="color2" value="brown"> 갈색 </input<br>
            <input type="radio" name="colors" id="color3" value="white"> 흰색 </input<br>
            <input type="radio" name="colors" id="color4" value="mixed"> 혼합 </input<br>
            <input type="radio" name="colors" id="color5" value="etc"> 기타 </input<br>
        </fieldset>
        </p>
        <p>
        <fieldset>
            <legend>이미지 내 동물에게 어울릴만한 이름을 작성해주시오.</legend>
            <input type="text" name="recname" id="recname" ><br/>
        </fieldset>
        </p>

        <button type="submit">제출</button>
        </form>
</html>
